<form method="POST" action="/articles">
    <ul>
        <li>
            <label for="title">Title</label>
            <input id="title" type="text" name="title">
        </li>
        <li>
            <label for="content">Content</label>
            <textarea id="content" type="text" name="content"cols="30" rows="10"></textarea>
        </li>
    </ul>
    <input type="submit">
</form>